<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Diabetes Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [2]:
#Import the diabetes dataset
df_diabetes_data = pd.read_csv('pima-indians-diabetes.data', header=None)

#### 2: Analyze the dataset

In [3]:
#View the first five observations of the dataset
df_diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [4]:
#Use the .NAMES file to view and set the features of the dataset
feature_names = ['Pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']

In [7]:
#Use the feature names set earlier and fix it as the column headers of the dataset
df_diabetes_data.columns = feature_names

   Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [8]:
#Verify if the dataset is updated with the new headers
df_diabetes_data.head()

   Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [9]:
#View the number of observations and features of the dataset
df_diabetes_data.shape

(768, 9)

#### 4: Find the response  of the dataset

In [17]:
#Select features from the dataset to create the model
features = ['Pregnant', 'insulin', 'bmi', 'age']

In [18]:
#Create the feature object
X_features = df_diabetes_data[features]
X_features.head()

   Pregnant  insulin   bmi  age
0         6        0  33.6   50
1         1        0  26.6   31
2         8        0  23.3   32
3         1       94  28.1   21
4         0      168  43.1   33

In [19]:
#Create the reponse object
Y_target = df_diabetes_data['label']

In [20]:
#View the shape of the feature object
X_features.shape

(768, 4)

In [21]:
#View the shape of the target object
Y_target.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [25]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_features, Y_target)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(576, 4) (192, 4) (576,) (192,)

#### 6: Create a model  to predict the diabetes outcome

In [27]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [28]:
#Make predictions using the testing set
y_pred = logreg.predict(x_test)

#### 7: Check the accuracy of the model

In [30]:
#Evaluate the accuracy of your model
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.7291666666666666

In [33]:
#Print the first 30 actual and predicted responses
import numpy as np
[[y_test[0:30]],[y_pred[0:30]]]

[[731    1
  116    1
  164    1
  761    1
  239    0
  135    0
  355    1
  69     0
  186    1
  349    1
  303    1
  712    1
  309    1
  47     0
  595    1
  513    0
  710    0
  765    0
  552    0
  70     1
  470    0
  672    0
  395    0
  645    0
  527    0
  171    1
  217    0
  662    1
  421    0
  706    1
  Name: label, dtype: int64],
 [array([0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
         0, 1, 0, 0, 0, 1, 0, 0], dtype=int64)]]