<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [2]:
#Import the required libraries
import numpy as np
import pandas as pd

In [9]:
#Import the advertising dataset
#df_ad_dataset = pd.read_csv('C:/Users/New/Documents/notebooks/LearningPythonDataScience/Advertising-Budget-and-Sales.csv', index_col=0)
df_ad_dataset = pd.read_csv('Advertising-Budget-and-Sales.csv', index_col=0)

#### 2: Analyze the dataset

In [10]:
#View the initial few records of the dataset
df_ad_dataset.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [11]:
#Check the total number of elements in the dataset
print(df_ad_dataset.size)
print(df_ad_dataset.shape)

800
(200, 4)

#### 3: Find the features or media channels used by the firm

In [13]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df_ad_dataset.shape

(200, 4)

In [14]:
#View the names of each of the attributes
df_ad_dataset.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [16]:
#Create a feature object from the columns
X_feature = df_ad_dataset[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]

In [17]:
#View the feature object
X_feature

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [18]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target = df_ad_dataset[['Sales ($)']]

In [20]:
#View the target object
Y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [21]:
#Verify if all the observations have been captured in the feature object
X_feature.shape

(200, 3)

In [23]:
#Verify if all the observations have been captured in the target object
len(Y_target)
Y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [24]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

In [25]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(150, 3) (50, 3) (150, 1) (50, 1)

#### 6: Create a model  to predict the sales outcome

In [27]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()
linReg.fit(x_train, y_train)

LinearRegression()

In [43]:
#Print the intercept and coefficients 
print('The intercept is %.2f'%linReg.intercept_)
print('The coefficients are %.2f'%linReg.coef_[0,0],', %.2f'%linReg.coef_[0,1],', %.2f'%linReg.coef_[0,2])

The intercept is 2.88
The coefficients are 0.05 , 0.18 , 0.00

In [45]:
#Predict the outcome for the testing dataset
predict_y = linReg.predict(x_test)

#### 7: Calculate the Mean Square Error (MSE)

In [46]:
#Import required libraries for calculating MSE (mean square error)
import numpy as np
from sklearn import metrics

In [47]:
#Calculate the MSE
print(np.sqrt(metrics.mean_squared_error(y_test, predict_y)))

1.404651423032895

In [49]:
print('True', y_test.values[0:10])
print()
print('Pred', predict_y[0:10])

True [[23.8]
 [16.6]
 [ 9.5]
 [14.8]
 [17.6]
 [25.5]
 [16.9]
 [12.9]
 [10.5]
 [17.1]]

Pred [[21.70910292]
 [16.41055243]
 [ 7.60955058]
 [17.80769552]
 [18.6146359 ]
 [23.83573998]
 [16.32488681]
 [13.43225536]
 [ 9.17173403]
 [17.333853  ]]