In [1]:
import sys

In [2]:
print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [4]:
import platform

In [5]:
platform.python_version()

'3.9.7'

In [6]:
#a hello world example
print('hello world')

hello world

In [7]:
3+5

8

In [8]:
8*4

32

In [9]:
x=3
type(x)

int

In [10]:
y=2.1
type(y)

float

In [11]:
z='test'
type(z)

str

In [14]:
x=5
y=2
z=x/y
print(z)
type(z)

2.5

float

In [15]:
y is None

False

In [16]:
float_number=3.67

In [17]:
int(float_number)

3

In [18]:
str(float_number)

'3.67'

In [19]:
first_list = ['Mark', 101,23.6, 'test', None, 11]

In [20]:
first_list

['Mark', 101, 23.6, 'test', None, 11]

In [21]:
first_list.append('Jack')
first_list

['Mark', 101, 23.6, 'test', None, 11, 'Jack']

In [23]:
first_list.remove('Mark')
first_list

[101, 23.6, 'test', None, 11, 'Jack']

In [24]:
first_list.pop(2)

'test'

In [25]:
first_list.insert(1,'Smith')
first_list

[101, 'Smith', 23.6, None, 11, 'Jack']

In [42]:
first_dictionary={'John' : 'john@abc.com', 'Kelly' : 'kelly@xyz.org', 'id' : [23,81]}
first_dictionary

{'John': 'john@abc.com', 'Kelly': 'kelly@xyz.org', 'id': [23, 81]}

In [43]:
first_dictionary.keys()

dict_keys(['John', 'Kelly', 'id'])

In [44]:
first_dictionary.values()

dict_values(['john@abc.com', 'kelly@xyz.org', [23, 81]])

In [45]:
first_dictionary['Kelly']

'kelly@xyz.org'

In [46]:
first_dictionary.update({'id':[32,55]})
first_dictionary

{'John': 'john@abc.com', 'Kelly': 'kelly@xyz.org', 'id': [32, 55]}

In [47]:
del first_dictionary['id']
first_dictionary

{'John': 'john@abc.com', 'Kelly': 'kelly@xyz.org'}

In [1]:
student_list=['Tom', 'Jack', 'Nick', 'Sarah', 'Nicole']

In [2]:
'Nick' in student_list

True

In [3]:
'Mark' in student_list

False

In [6]:
word= 'Jack'

In [7]:
't' in word

False

In [8]:
word in student_list

True

In [9]:
test_score_1 = (68,96,71)
test_score_2 = (92,87,83)

In [10]:
test_score = test_score_1 + test_score_2
test_score

(68, 96, 71, 92, 87, 83)

In [15]:
def my_first_function(name):
    return name

In [16]:
print(my_first_function('Jack'))

Jack

In [17]:
def profile():
    age = 21
    height=5.5
    weight=130
    return age,height,weight

In [18]:
age, height, weight = profile()

In [20]:
print (age, height, weight)

21 5.5 130

In [21]:
store_list = ['McDonnald', 'Taco Bell', 'Dunkin', 'Wendys', 'Chipotle']

In [24]:
for position,name in enumerate(store_list):
    print(position, name)

0 McDonnald
1 Taco Bell
2 Dunkin
3 Wendys
4 Chipotle

In [26]:
store_map = dict((name,position) for position, name in enumerate(store_list))

In [27]:
store_map

{'McDonnald': 0, 'Taco Bell': 1, 'Dunkin': 2, 'Wendys': 3, 'Chipotle': 4}

In [28]:
sorted([91,43,18,24])

[18, 24, 43, 91]

In [29]:
sorted('the data science')

[' ',
 ' ',
 'a',
 'a',
 'c',
 'c',
 'd',
 'e',
 'e',
 'e',
 'h',
 'i',
 'n',
 's',
 't',
 't']

In [32]:
num_list=range(15)
list(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [31]:
list(reversed(num_list))

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [33]:
subjects= ['math', 'statistics', 'algebra']
subject_count = ['one', 'two', 'three']

In [36]:
total_subject = zip(subjects, subject_count)
total_subject

<zip object at 0x0000024ECF4EAB00>

In [38]:
type(subjects)

list

In [39]:
age=21

In [40]:
if age<18:
    print('minor')
else:
    print('adult')

adult

In [41]:
marks=81

In [42]:
if marks>90:
    print('grade A')
elif 80<=marks<=90:
    print('grade B')

grade B

In [43]:
stock_tickers = ['AAPL', 'MSFT', 'GOOGL', None, 'AMZN', 'CSCO', 'ORCL']

In [44]:
for tickers in (stock_tickers):
    if(tickers is None):
        continue
    print(tickers)

AAPL
MSFT
GOOGL
AMZN
CSCO
ORCL

In [45]:
for tickers in (stock_tickers):
    if(tickers is None):
        break
    print(tickers)

AAPL
MSFT
GOOGL

In [46]:
temperature=100
while temperature > 95:
    print(temperature)
    temperature = temperature -1

100
99
98
97
96

In [47]:
def test_float(number):
    try:
        return float(number)
    except ValueError:
        return 'not a number, the input value is ', number

In [49]:
test_float(8.254)
test_float('test')

8.254

In [53]:
lista=[3,1,5,8,9,6,2]
lista[4:-0]

[]