In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
#create dataframe from dict of series for summer olympics: 1996 to 2012:
olympic_series_participation = pd.Series([205,204,201,200,197], index=[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'], index=[2012,2008,2004,2000,1996])
df_olympic_series = pd.DataFrame({'No of participating countries': olympic_series_participation,
                                 'Host cities': olympic_series_country})

In [4]:
#display content of the dataset
df_olympic_series

      No of participating countries Host cities
2012                            205      London
2008                            204     Beijing
2004                            201      Athens
2000                            200      Sydney
1996                            197     Atlanta

In [5]:
#view dataframe describe
df_olympic_series.describe

<bound method NDFrame.describe of       No of participating countries Host cities
2012                            205      London
2008                            204     Beijing
2004                            201      Athens
2000                            200      Sydney
1996                            197     Atlanta>

In [6]:
#view top 2 records
df_olympic_series.head(2)

      No of participating countries Host cities
2012                            205      London
2008                            204     Beijing

In [8]:
#view last 3 records
df_olympic_series.tail(3)

      No of participating countries Host cities
2004                            201      Athens
2000                            200      Sydney
1996                            197     Atlanta

In [9]:
#view indexes of dataset
df_olympic_series.index

Int64Index([2012, 2008, 2004, 2000, 1996], dtype='int64')

In [10]:
#view columns of the dataset
df_olympic_series.columns

Index(['No of participating countries', 'Host cities'], dtype='object')

In [11]:
#select data for host cities
df_olympic_series['Host cities']

2012     London
2008    Beijing
2004     Athens
2000     Sydney
1996    Atlanta
Name: Host cities, dtype: object

In [12]:
#another data selection No of participating countries
df_olympic_series['No of participating countries']

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No of participating countries, dtype: int64

In [13]:
#select label-location based acces by label
df_olympic_series.loc[2012]

No of participating countries       205
Host cities                      London
Name: 2012, dtype: object

In [14]:
#integer-location based indexing by position
df_olympic_series.iloc[0:2]

      No of participating countries Host cities
2012                            205      London
2008                            204     Beijing

In [15]:
#integer-location based data selection by index value
df_olympic_series.iat[3,1]

'Sydney'

In [17]:
#selec data element by condition where number of participated countries are more than 200
#hint - use boolean expresion
df_olympic_series[df_olympic_series['No of participating countries']>200]

      No of participating countries Host cities
2012                            205      London
2008                            204     Beijing
2004                            201      Athens